*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.container{
    height: 100vh;
    width: 100vw;
    overflow-x: none ;
    background-color: white;

}
nav{
    width: 100%;
    overflow-x: none;
}
.navContainer{
    width: 100vw;
    /* background-color: rgb(172, 188, 223); */
    background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
    min-height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    /* margin: 10px; */
}
#navList{
    width: 100%;
    padding: 20px;
    /* margin-left:20px ;
    margin-right: 20px; */
    list-style: none;
    font-size: 2.5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#navLogo{
    font-size: 2.3rem;
    color: white;
}
a{
    text-decoration: none;

}
#navItems{
    display: flex;
    gap: 20px;
}

.footerBox{
    background-color: aquamarine;
    background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
    
    width: 100%;
    text-align: center;
    min-height: 45px;


}
.contentBox{
    width: 50%;
    margin: auto;
    /* border: 1px brown solid; */
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 100px;
    padding: 2.5rem;
    box-shadow: 0px 0px 30px black;

}
.footerBox{
    color: azure;
    font-size: 2rem;
}
.item{
    display: flex;
    /* flex-direction: row; */
    justify-content: space-around;
    align-items: center;
}
.rightBox{
    position: relative;
    overflow: hidden;
    transition: all 0.3s linear 0s ;
    box-shadow: 1px 1px 10px black;
    border-radius: 20px;
}
.rightBox .overlay{
    position: absolute;
    top:0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(75, 44, 44 ,0.65);
    display: flex;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition : all 0.3s linear 0s;
}
.rightBox:hover .overlay{
    opacity: 1;
}
.rightBox .overlay span{
    color: white;
    font-size: 1.2rem;
}
.rightBox img{
    width: 350px;
    height: 350px;
    border-radius: 20px;
    transition:all  0.6s linear 0s;
    
}
.rightBox :hover{
    
    transform: scale(1.1);
}
.leftBox{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.leftBox h2{
    font-size: 2rem;
}
.gulabBox{
    font-size: 1.4rem;

}
.jalebiBox{
    font-size: 1.4rem;
    
}
.barfiBox{
    font-size: 1.4rem;
    
}